
*.txt

*.xml

*.xcf

*.gz

*.log

*.cfg

*.dat_mcr

*.dat

*.mca

*.csv

*.properties

mods/NotEnoughItems-1.7.10-1.0.3.74-dev.jar

mods/CodeChickenCore-1.7.10-1.0.4.29-dev.jar

mods/1.7.10/CodeChickenLib-1.7.10-1.1.1.99-dev.jar

mods/RenderPlayerAPI-1.7.10-1.4.jar

*.zip

saves/Dick/level.dat_old

saves/Dick/session.lock

usernamecache.json
